.Weather{
  border-radius: 1rem;
  width: 90%;
  height: 80%;
  border: 1px solid;
  box-shadow: 13px 16px #333;
  position:relative;
  display: flex;
}

.Weather > form {
  width: 100%;
  position:absolute;
  bottom:0;
}

.Weather > form .inputBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.Weather > form .inputBar label{
  min-width: 20%;
  background-color: rgba(31, 30, 30, 0.647);
  color: #eee;
  text-align: center;
  padding: 1rem;
  flex-grow: 1;
}

.Weather > form .inputBar input{
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  margin: 0px;
  flex-grow: 5;
  border-radius: 0;
  border: 1px solid rgba(31, 30, 30, 0.647);
}

.Weather > form .selectBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.Weather > form .selectBar label{
  min-width: 20%;
  background-color: #eee;
  color: #333;
  text-align: center;
  padding: 1rem;
  flex-grow: 1;
}

.Weather > form .selectBar select{
  margin:0;
  padding: 1rem;
  background-color: rgba(31, 30, 30, 0.647);
  color: #eee;
  font-weight: bold;
  font-family: inherit;
  text-transform: capitalize;
  flex-grow: 5;
  text-align-last:center;
}

#currentWeather{
padding: 1rem;
width: 100%;
background-color: #333;
font-weight: bold;
color: #eee;
border: 1px #333;
border-radius: 0 0 0.9rem 0.9rem;
border-right: 1px #333 solid;
}

.Display{
  height: auto;
  width: 100%;
  margin: 4rem 5rem;
}
