.CurrentDisplay{
  display: flex;
  justify-content: space-between;
  width:calc(100%-200);
  height: auto;
}
.CurrentDisplay img {
  background: rgba(215, 176, 176, 0.647);
  padding:30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.ErrorMsg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 10px;
}
.Greeting {
  margin: 2rem 2rem;
}


